@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cool Beans Coffee!</h1>
    <p>Learn about <a href="/Product/Coffees/">our Coffee</a>.</p>
</div>
